body {
    font-family: sans-serif;
    background: white;
    color: black;
    padding: 40px 20px;
}

header {
    text-align: center;
    font-size: 1.6rem;
}

/* The layout places text and image side by side to create contrast between explanation and visual evidence. This choice was influenced by editorial and research presentation layouts. */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: 4rem 5rem 5rem;

}

.intro-text a {
    color: #D251F5;
    font-size: 1.8rem;
    /* remove underline */
    text-decoration: none;
}

/* I use pseudo-class to give “Luni” a subtle interaction, so users know they can click here. */
.intro-text a:hover {
    color: #51D8F5;
}

/* For the visual and interactive design of the entire “contentContainer” section, I drew inspiration from the “Career” page on the Luni website, which I had researched. In particular, the vibrant fluorescent green background really caught my eye. Additionally, the animation of the “+” icon on the right when expanding the panel gave me a sense of subtle interactivity. */
.contentContainer {
    background-color: #B7F552;
    padding: 1rem;
    margin: 5rem;
    display: flex;
}

.contentTitle {
    font-size: 1.8rem;
    margin-left:2rem;
    margin-right: 4rem;
}

.subContainer {
    margin-top:2rem;
}

summary {
    /* Hide the default triangle icon before the summary */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 0;
    font-weight: bold;  
}

.summary-text {
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease;
}

/* When the mouse hovers over the entire summary area */
summary:hover .summary-text {
    /* enlarge text */
    transform: scale(1.05); 
    /* change color */
    color: #F55190; 
}

/* add "+" after the summary-text*/
summary::after {
    content: '+';
    font-size: 1.5rem;
    display: inline-block;
    /* set a rotation transition animation */
    transition: transform 0.4s ease; 
    margin-left: 2.5rem;
}

details {
    border-top: 1px solid #000000;
    padding: 10px 0;
}

/* When “details” is in the open state, toggle the "+" sign */
details[open] summary::after {
    /* rotate 120 degrees */
    transform: rotate(120deg); 
    /* change color */
    color: #ff4500;
}

.responseContent {
    padding: 10px 20px 20px 0;
    line-height: 1.6;
    width: 80%;
}

.name {
    color:rgb(153, 133, 144);
    text-align: center;
    font-size: small;
}

